html, body {
  background: #F7FBFC;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background: url(ingredient-bg.jpg) no-repeat center;
  background-size: cover;
}

.navbar {
  background-color: #769FCD;
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;
}

.navbar-search .search-bar {
  display: flex;
  margin-left: 1rem;
}

.navbar-search .search-bar .btn {
  width: 225px;
}

.container {
  text-align: center;
  margin: 30px auto;
  background: rgba(250, 250, 250, 0.78);
  max-width: 960px;
  border-radius: 25px;
}

.search-results, .saved-recipes {
  max-width: 1140px;
}

#fridg-logo {
  width: 35px;
  height: 35px;
}

.btn {
  background-color: #769FCD;
  color: black;
  border-color: #769FCD;
  margin: 5px 5px;
  vertical-align: unset;
}

.btn:hover {
  color: black;
  background-color: ;
  border-color: ;
}

.card-deck, .homepage-title  {
  display: inline-block;
}

.card {
  width: 350px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
}

.card-img {
  border-radius: 20px;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.homepage, .about, .logout {
  margin: 30px 30px;
  margin-bottom: 15px;
}

.homepage-search {
  display: inline;
}

.homepage-search .search-bar {
  width: 60%;
  display: inline;
}

.navbar .btn {
  width: 100%;
}

.login, .create-account-collapse, .create-account {
  display: block;
  border: 1px solid black;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto auto;
}

.homepage .create-account-collapse {
  border: 1px solid black;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

/* Recipe Details CSS */

.details {
  margin: 15px 15px;
}

.details-row {
  padding: 0 75px;
}

.img-times-servings {
  width: 30%;
  padding: 15px 15px;
  margin: 15px auto;
}

.static-img {
  width: 100%;
  margin-bottom: 5px;
}

.ingr-equip {
  padding: 15px 15px;
}

.details-title {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
}

.recipe-ingredients ul {
  text-align: left;
  display: inline-block;
}

.missing-or-thoughts {
  padding: 15px 15px;
  border: 1.5px solid black;
  border-radius: 20px;
  height: fit-content;
}

.missing-list {
  text-align: left;
}

.ingr-equip {
  text-align: left;
  padding: 15px;
  padding-left: 50px;
}

.recipe-instructions ol, .recipe-equipment ul {
  text-align: left;
  display: inline-block;
}

.instructions-col {
  padding: 15px 15px;
}

.time {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 5px;
  width: 130px;
}

.ready-time {
  width: 160px;
  text-align: center;
}

.servings {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 5px;
  width: 125px;
}

p.comment, .thoughts {
  margin-bottom: 5px;
}
