/*img {
  width: 275px;
  height: 200px;
}*/

html, body {
  background: #F7FBFC;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  background-color: #769FCD;
}

.container {
  max-width: 1700px;
  text-align: center;
  margin: 0 50px;
}

#fridg-logo {
  width: 35px;
  height: 35px;
}

.btn {
  background-color: #769FCD;
  color: black;
  border-color: #769FCD;
}
/*
.btn:hover {
  color: black;
  background-color: ;
  border-color: ;
}*/


.card-deck {
  margin: 15px 30px;
  display: inline-block;
}

.card {
  width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.time {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 5px;
  width: 160px;

  .ready-time {
    width: 150px;
  }
}

.servings {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 5px;
  width: 125px;
}