html, body {
  background: #F7FBFC;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background: url(ingredient-bg.jpg) no-repeat center;
  background-size: cover;
}

.navbar {
  background-color: #769FCD;
  justify-content: center;
}


.navbar-search .search-bar {
  display: flex;
}


.container {
  text-align: center;
  margin: 30px auto;
  background: rgba(250, 250, 250, 0.6);

}

#fridg-logo {
  width: 35px;
  height: 35px;
}

.btn {
  background-color: #769FCD;
  color: black;
  border-color: #769FCD;
  margin: 5px 5px;
}

.btn:hover {
  color: black;
  background-color: ;
  border-color: ;
}

.card-deck {
  display: inline-block;
}

.card {
  width: 350px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.homepage {
  margin: 50px 50px;
}

.homepage-title {
  display: inline-block;
}

.homepage-search {
  display: inline;
}

.homepage-search .search-bar {
  width: 60%;
  display: inline;
}

.user-auth-row {
  margin: 50px auto;
}

.homepage .login {
  display: block;
  border: 1px solid black;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

/* Recipe Details CSS */

.recipe-details {
  max-width: 800px;
}

.img-times-servings {
  width: 30%;
  margin-right: 15px;
  padding: 15px 15px;
}

.static-img {
  width: 100%;
  margin-bottom: 5px;
}

.ingr-equip {
  padding: 15px 15px;
}

.details-title {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
}

.recipe-ingredients ul {
  text-align: left;
  display: inline-block;
}

.missing-or-thoughts {
  padding: 15px 15px;
  border: 1.5px solid black;
  border-radius: 20px;
  height: fit-content;
}

.missing-list {
  text-align: left;
}

.recipe-equipment ul {
  text-align: left;
  display: inline-block;
}

.recipe-instructions ol {
  text-align: left;
  display: inline-block;
}

.instructions-col {
  padding: 15px 15px;
}



.time {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 5px;
  width: 130px;
}

.ready-time {
  width: 160px;
  text-align: center;
}

.servings {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 5px;
  width: 125px;
}

