<!doctype html>
<html>
  <head>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/site.css">
    <title>
      {% block title %} TITLE GOES HERE {% endblock %}
    </title>
  </head>

  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash_msg">
        {{ msg }}
      </p>
    {% endfor %}
    {% block content %} BODY GOES HERE {% endblock %}
    <!-- <script></script> -->

    {% block js %} JS GOES HERE {% endblock %}

  </body>

</html>