{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <h1> Hello! Welcome to the homepage! </h1>

  {% if not session.get('user_id') %}
  <h3> To start searching and saving recipes enter your email and password! 
  </h3>
  <form action="/login" method="POST">
    <label> Email </label>
    <input type="text" name="email">

    <label> Password </label>
    <input type="text" name="password">

    <input type="submit">
  </form>
  {% endif %}

  {% if session.get('user_id') %}
    <form action="/search_results" method="POST">
      <p>
        What's in your fridge?

        <input type="text" name="user_ingredients">
      </p>
      <input type="submit">
    </form>

    <form action="/logout">
      <button id="logout-btn">Log Out</button>
    </form>
  {% endif %}

{% endblock %}