{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <h1> Hello! Welcome to the homepage! </h1>

  <h3> To start searching and saving recipes enter your email and password! 
  </h3>
  <div id="login">
    <form id="login-form">
      <label> Email </label>
      <input type="text" id="email">

      <label> Password </label>
      <input type="text" id="password">

      <input type="submit" id="login-btn">
    </form>
  </div>

  <div id="search">
    <form id="search-form" action="/search_results" method="POST">
        What's in your fridge?
      <input type="text" name="user_ingredients">
      <button type="submit">submit</button>
    </form>
  </div>

  <div id="logout">
    <form action="/logout">
      <button id="logout-btn">Log Out</button>
    </form>
  </div>

{% endblock %}

{% block js %}
<script>
  const resetForm = () => {
    // document.getElementById('login-form').attr('value', '');
    // document.getElementById('password').rest();
    $('#email').val('');
    $('#password').val('');
  };

  $('#login-form').on('submit', (evt) => {
    // on submission of login form, prevent default
    evt.preventDefault();

    const email = $('#email').val();
    const password = $('#password').val();
    // console.log(email, password);

    // get email and password from form.
    const loginData = {
      email: email,
      password: password
    };

    $.post('/login', loginData, (res) => {
      alert(res.message);
      resetForm();
      // call function after receive response from server
    });
  });
</script>
{% endblock %} 