{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <h1> Hello! Welcome to the homepage! </h1>

  {# {% if not session.get('user_id') %} #}
  <h3> To start searching and saving recipes enter your email and password! 
  </h3>
  <div id="login">
    <form id="login-form">
      <label> Email </label>
      <input type="text" id="email">

      <label> Password </label>
      <input type="text" id="password">

      <input type="submit" id="login-btn">
    </form>
  </div>
{#   {% endif %} #}


  {# {% if session.get('user_id') %} #}
  <div id="search">
    <form id="search-form" action="/search_results" method="POST">
      <p>
        What's in your fridge?
      </p>
      <input type="text" name="user_ingredients">
      <button type="submit">submit</button>
    </form>
  </div>

  <div id="logout">
    <form action="/logout">
      <button id="logout-btn">Log Out</button>
    </form>
  </div>
  {# {% endif %} #}

{% endblock %}

{% block js %}
<script>
  const showSearch = (data) => {
    alert(data.message);
    // if (data.success) {
    //   $('#search-form').attr('hidden', false);
    //   document.getElementById('login').style.display = 'none';
    // }
  };

  $('#login-form').on('submit', (evt) => {
    // on submission of login form, prevent default
    evt.preventDefault();

    const email = $('#email').val();
    const password = $('#password').val();
    // console.log(email, password);

    // get email and password from form.
    const loginData = {
      email: email,
      password: password
    };

    $.post('/login', loginData, showSearch)
  });




</script>
{% endblock %} 