<!DOCTYPE html>
<html>
  <meta property="og:image" content="../static/img/thumbnail.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/site.css">
    
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src='https://unpkg.com/react-router@5.2.0/umd/react-router.min.js'></script>
  <script src='https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js'></script> 
  <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>




  <div id="root"></div>
  
  <script src="/static/js/userAuth.jsx" type="text/jsx"></script>
  <script src="/static/js/foodForThoughts.jsx" type="text/jsx"></script>
  <script src="/static/js/missingIngredients.jsx" type="text/jsx"></script>
  <script src="/static/js/recipeButtons.jsx" type="text/jsx"></script>
  <script src="/static/js/recipe_info.jsx" type="text/jsx"></script>
  <script src="/static/js/root.jsx" type="text/jsx"></script>
</html>